h1, .h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2, .h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

blockquote {
    margin-block-start: 3px;
    margin-block-end: 3px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    margin-block-start: 3px;
    margin-block-end: 3px;
}


article .content p {
    margin-block-start: 3px;
    margin-block-end: 3px;
}
article .content p  img {
    display: inline-block !important;
}

